<template>
  <div class="about container">
    <h1 class="page-header">About</h1>
    <p>This is a customer manager app built with the Vue.js framework</p>
  </div>
</template>

<script>
export default {
  name: 'about',
  data() {
    return {};
  }
};
</script>


<style scoped>
</style>
