<template>
  <div class="customers container">
    <Alert v-if="alert" v-bind:message="alert"></Alert>
    <h1 class="page-header">Manager Customers </h1>
    <input type="text" class="form-control" placeholder="Enter Last Name" v-model='filterInput'>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th></th> 
        </tr>
      </thead>
      <tbody>
        <!-- na versao mais nova o v-for precisa de key para ter um indice para cada elemento -->
        <tr v-for="customer in filterBy(customers, filterInput)" :key="customer.id"> 
          <td>{{customer.first_name}}</td>
          <td>{{customer.last_name}}</td>
          <td>{{customer.email}}</td>
          <td><router-link class="btn btn-default" v-bind:to="'/customer/'+customer.id">View</router-link></td>
        </tr>
  
      </tbody>
    </table>



  </div>
</template>

<script>
import Alert from './Alert';

export default {
  name: 'customers',
  data() {
    return {
      // tipo array
      customers: [],
      alert: '',
      filterInput: ''
    };
  },
  methods: {
    fetchCustomers() {
      this.$http
        .get('http://localhost:8088/slimapp/public/api/customers')
        .then(function(response) {
          // console.log(response.body);
          // nao precisa do json.parse, pois diretamente vai guardar um array e v-for usa um array. para objetos a sintaxe muda no v-for
          this.customers = response.body;
        });
    },
    filterBy(list, value) {
      // capitalize - caixa alta para nao ter diferenca entre sm e SM/Sm/sM
      value = value.charAt(0).toUpperCase() + value.slice(1);

      return list.filter(function(customer) {
        return customer.last_name.indexOf(value) > -1;
      });
    }
  },
  created: function() {
    if (this.$route.query.alert) {
      this.alert = this.$route.query.alert;
    }
    this.fetchCustomers();
  },
  updated: function() {
    this.fetchCustomers();
  },
  components: {
    Alert
  }
};
</script>


<style scoped>
</style>
